* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: black;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: black;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(21, 37, 67);
}

.header__inner-logo {
  width: 240px;
  text-align: center;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__header {
  width: 240px;
  margin-bottom: 10px;
  color: aliceblue;
}

.header__conect {
  margin-top: 15px;
  width: 240px;
}

.header__conect-phone {
  color: aliceblue;
}

.header__conect-email {
  color: aliceblue;
}

.skills {
  text-align: center;
}

.skills__main {
  display: flex;
  justify-content: space-around;
}

.skills__main-text {
  margin-top: 50px;
}

.skills__user {
  width: 260px;
  border-radius: 50px;
}

.skills__text {
  margin-top: 20px;
}

.skills__text-down {
  margin-bottom: 15px;
}

.skills__text-fachg {
  margin-top: 15px;
}

.content__text-gallery {
  margin-left: 150px;
}

.private__gallery {
  display: grid;
  width: 1000px;
  margin: 0 auto 25px;
  padding: 10px;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: 250px;
}

.private__gallery-box {
  border: 1px solid black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: rgb(21, 37, 67);
}

.footer__text {
  text-align: center;
  color: aliceblue;
  padding: 15px;
}

@media screen and (max-width: 1305px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    max-width: 800px;
  }
  .private__gallery {
    width: 800px;
    margin: 0 auto 20px;
    padding: 5px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 350px;
  }
  .content__text-gallery {
    margin-left: 40px;
  }
}

@media screen and (max-width: 925px) {
  .container {
    max-width: 100%;
  }
  .private__gallery {
    width: 700px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 325px;
  }
  .header__conect {
    margin-top: 15px;
  }
}

@media screen and (max-width: 765px) {
  .container {
    max-width: 100%;
  }
  .header {
    display: block;
    text-align: center;
  }
  .header__inner-logo {
    margin: 0 auto;
    height: 35px;
  }
  .header__logo {
    width: 50px;
    height: 50px;
  }

  .header__header {
    margin: 0 auto;
    font-size: 32px;
  }

  .header__conect {
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .private__gallery {
    width: 600px;
    margin: 0 auto 20px;
    padding: 5px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 270px;
  }
  .content__text-gallery {
    margin-left: 80px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 100%;
  }
  .private__gallery {
    width: 550px;
    margin: 0 auto 20px;
    padding: 5px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 270px;
  }
  .content__text-gallery {
    margin-left: 90px;
  }
}

@media screen and (max-width: 600px) {
  .skills__main {
    display: block;
  }
  .skills__user {
    width: 180px;
    border-radius: 25px;
  }
  .skills__main-text {
    margin-top: 10px;
  }
  .skills__text-fachg {
    margin-top: 0;
  }
  .skills__text {
    margin-top: 15px;
    font-size: 26px;
  }
  .skills__text-down {
    font-size: 18px;
  }
  .content__text-gallery {
    margin-left: 40px;
    font-size: 24px;
  }
  .private__gallery {
    display: grid;
    width: 360px;
    margin: 0 auto 25px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-rows: 180px;
  }
}
